.schedule-section {
    width: 100%;
    height: auto;
}
.schedule-form {
    width: 70%;
    margin: 0 auto;
}


@media screen and (max-width: 860px) {
    .schedule-form {
        width: 90%;
        margin: 0 auto;
    }
}