{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}<link rel="stylesheet" href="{% static 'css/accounts/registration.css' %}">{% endblock %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="password-reset-wrapper w-75 m-auto">
    <form action="" method="POST" class="password-reset-form">
        <h1 class="registration-sub-title">Forgot your password?</h1>
        <p class="reset-text pt-5">Enter your email address below, and we'll email instructions for setting a new one.</p>
        {% csrf_token %}
        {% for item in form %}
        <div class="form-group">
            <label for="{{item.id_for_label}}">{{item.label}}</label>
            <input 
                type="{{item.field.widget.input_type}}"
                class="form-control" 
                {% if item.field.required %}required{% endif %} 
                name="{{item.name}}" 
                id="{{item.id_for_label}}">
            <div class="password-reset-btn pt-4">
                <button type="submit" class="form-control btn btn-primary ">Send</button>
                <p class="pt-4 text-center">Back to <a href="{% url 'login' %}">Login</a></p>
            </div>
        </div>
        {% endfor %}
    </form>
</div>


{% endblock %}



