{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}<link rel="stylesheet" href="{% static 'css/accounts/registration.css' %}">{% endblock %}
{% block title %}Change Password{% endblock %}

{% block content %}
<div class="login-wrapper">
    <form action="" method="POST" class="password-change-form">
        <h2 class="registration-sub-title">Change Your Password</h2>
        {% csrf_token %}
        {% for item in form %}
        <div class="form-group">
            <label for="{{item.id_for_label}}">{{item.label}}</label>
            <input 
                type="{{item.field.widget.input_type}}"
                class="form-control" 
                {% if item.field.required %}required{% endif %} 
                name="{{item.name}}" 
                id="{{item.id_for_label}}">
        </div>
        {% endfor %}

        <!-- If error happens.... -->
        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p class="pl-5 text-danger">*{{ error }}</p>
            {% endfor %}
        {% endfor %}
        {% endif %} 

        <div class="login-btn">
            <button type="submit" class="form-control btn btn-primary ">Change Your Password</button>
            <p class="pt-4 text-center">Back to your <a href="{% url 'accounts:profile' user.pk %}">Profile</a></p>
        </div>
    </form>
</div>

{% endblock %}
