{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}<link rel="stylesheet" href="{% static 'css/accounts/registration.css' %}">{% endblock %}
{% block title %}Complete Password Reset{% endblock %}

{% block content %}
<h2 class="registration-sub-title">Check your inbox</h2>
<p class="pt-5 text-center">We've emailed you instructions for setting your password. You should receive the email shortly!</p>
<p class="pt-5 text-center">Back to <a href="{% url 'login' %}">Login</a></p>
{% endblock %}

