{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}<link rel="stylesheet" href="{% static 'css/accounts/registration.css' %}">{% endblock %}

{% block content %}
<h2 class="sub-title">Password Done</h2>
<p class="pt-5 text-center">Your password has been chenged!</p>
<p class="pt-5 text-center">Back to <a href="{% url 'accounts:profile' user.pk %}">my profile</a></p>
{% endblock %}



<!-- <h2>Password Done</h2>
<form action="" method="POST">
    <a href="{% url 'home' %}">Home</a>
</form> -->