{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}<link rel="stylesheet" href="{% static 'css/accounts/registration.css' %}">{% endblock %}

{% block content %}
<div class="login-wrapper">
    <form action="" method="POST" class="login-form">
        <h2 class="sub-title">Account Login</h2>
        {% csrf_token %}
        {% for item in form %}
        <div class="form-group">
            <label for="{{item.id_for_label}}">{{item.label}}</label>
            <input 
                type="{{item.field.widget.input_type}}"
                class="form-control" 
                {% if item.field.required %}required{% endif %} 
                name="{{item.name}}" 
                id="{{item.id_for_label}}">
        </div>
        {% endfor %}
        <div class="login-btn">
            <button type="submit" class="form-control btn btn-success ">Sign Up</button>
        </div>
    </form>
</div>

{% endblock %}


<h1>Signup</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Signup</button>
</form>