{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/schedule/schedule_list.css' %}">{% endblock %}

{% block content %}
<section class="section">
    <h2 class="sub-title">Schedule</h2>
    <div class="schedule-items">
        {% for schedule in schedule_list %}
        <div class="schedule-item">
            <div class="schedule-main">
                <h3 class="">{{ schedule.title }}</h3>
                <h3>{{ schedule.date }}</h3>
            </div>
            <div class="schedule-sub">
                <div class="schedule-text">
                    <p class="schedule-desc">{{ schedule.content　| truncatechars:85 }}</p>
                </div>
                <div class="schedule-btn">
                    <a class="btn btn-primary" href="{% url 'schedule:schedule_update' schedule.pk %}">Update</a>
                    <a class="btn btn-danger" href="{% url 'schedule:schedule_delete' schedule.pk %}">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="btn btn-primary btn-create" href="{% url 'schedule:schedule_create' %}">New Schedule</a>
</section>



{% endblock %}

{% block extrsjs %}

{% endblock %}