.detail-inner {
    display: flex;
    flex-direction: column;
}
.detail-inner {
    width: 100%;
    border: 1px solid #333;
    /* background-color: pink; */
}
.detail-image-title {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
}
.detail-image {
    padding: 10px;
    /* background-color: green; */
}
.detail-image-text {
    padding: 10px;
    height: 100px;
    /* background-color: ; */
}
.post-text {
    overflow: visable;
    overflow-wrap: break-word;
}
.btns {
    /* background-color: red; */
}