.detail-wrapper {
    width: 100%;
}
.detail-inner {
    padding-bottom: 10px;
    margin-top: -20px;
    width: 100%;
    height: 540px;
    display: flex;
}
.update-btn {
    position: absolute;
    top: 100px;
    right: 95px;
}
.thumbnail-container {
    width: 33%;
}
.detail-thumbnail {
    padding: 10px;
}
.thumbnail {
    object-fit: cover;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.5);
}
.detail-thumbnail-text {
    padding: 10px 10px 10px 10px;
}
.post-text {
    height: 200px;
    padding: 5px;
    overflow: scroll;
    overflow-wrap: break-word;
    border: 1px solid green;
}

/* multi images (right side) */
.detail-image-container {
    width: 100%;
    overflow: scroll;
}
.detail-image {
    padding: 10px 0 0 0;
}
.multi-images {
    /* margin-right: 10px; */
    margin-bottom: 15px;
    object-fit: cover;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.5);
    transition: .5s;
}
.multi-images:hover {
    transform: translateY(-8px);
    cursor: pointer;
}
.btns-items {
    padding: 0 10px;
    display: flex;
}
.btns-items .btn {
    margin-right: 5px;
}


/* レスポンシブ */
@media screen and (max-width: 860px) {
    .detail-wrapper {
        width: 90%;
        margin: 0 auto;
    }
    .detail-inner {
        padding-bottom: 10px;
        margin-top: -20px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .update-btn {
        position: absolute;
        top: 700px;
        right: 50%;
        transform: translate(50%, 0);
        
    }

    .detail-thumbnail {
        padding: 10px 0;
    }

    .thumbnail {
        width: 100%;
        height: 200px;
    }

    .thumbnail-container {
        width: 100%;
    }
    .detail-thumbnail-text {
        padding: 10px 0 10px 0;
    }

    .detail-image {
        padding: 10px 0 0 0;
    }
    .multi-images {
        width: 100%;
        margin-bottom: 30px;
    }
    .btns-items {
        padding: 0;
        margin-bottom: 90px;
        display: flex;
    }
}