.card {
    width: 40%;
    height: 200px;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
}
.card-body {
    position: relative;
}
.card-title {
    padding-top: 20px;
    text-align: center;
}
.delete-choice {
    position: absolute;
    bottom: 30px;
    right: 50px;
    display: flex;
}
.delete-form {
    padding-left: 10px;
}



@media screen and (max-width: 860px) {
    .card {
        width: 90%;
        height: 200px;
        margin: 0 auto;
        margin-top: 100px;
        box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
    }
    .card-title {
        font-size: 18px;
    }
    .delete-choice {
        position: absolute;
        bottom: 30px;
        right: 40px;
    }
}