/* 共通 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body {
    width: 100%;
    height: 760px;
}
ul, h1, h2, h3, p, a {
    padding: 0;
    margin: 0;
}
.wrapper {
    background-size: cover;
}
.sub-title {
    font-size: 40px;
    font-family: cursive;
    font-style: bold;
    padding: 50px 0 50px 0;
    margin: 0;
    text-align: center;
    color: linear-gradient(to bottom right, #00b09b, #96c93d);
}

.registration-sub-title {
    font-size: 40px;
    font-family: cursive;
    font-style: bold;
    padding: 30px 0 20px 0;
    margin: 0;
    text-align: center;
    color: linear-gradient(to bottom right, #00b09b, #96c93d);
}

/* body */
/* header */
header {
    background: linear-gradient(to bottom right, #00b09b, #96c93d); 
    width: 100%;
    height: 55px;
}
.header-container { 
    width: 80%;
    height: 60px;
    margin: 0 auto;
}
/* header-inner */
.header-inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.header-logo {
    font-size: 30px;
    line-height: 60px;
    padding-right: 40px;
}
.header-logo a {
    color: #fff;
    text-decoration: none;
}
.header-nav {
    display: flex;
    height: 60px;
}
.header-nav li {
    border-left: 1px solid #fff;
}
.header-nav li:last-child {
    border-right: 1px solid #fff;
}
.header-nav li a {
    width: 100px;
    height: 60px;
    text-align: center;
    line-height: 70px;
    display: inline-block;
    color: #fff;
    transition: .5s;
}
.header-nav li a:hover {
    opacity: 0.6;
    text-decoration: none;
    color: black;
    background-color: #fff;
}

/* header-search(search box) */
.header-search {
    height: 60px;
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translate(-50%, 0);
}
.search-box {
    width: 250px;
    height: 40px;
    margin-top: 10px;
    position: relative;
    border-radius: 50px;
    background-color: #fff;
}
.search-box:hover .search-txt {
    opacity: 0.7;
    background-color: rgb(red, green, rgb(157, 157, 231));
}
.search-btn {
    outline: none;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 2.5px;
    right: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background-color:rgb(0, 181, 252);
    transition: .3s;
}
.search-btn:hover {
    outline: none;
    opacity: 0.6;
}
.search-txt {
    width: 185px;
    height: 80%;
    position: absolute;
    top: 3.5px;
    left: 20px;
    border: none;
    outline: none;
    font-size: 14px;
    transition: .5s;
    line-height: 40px;
}
/* main */
.wrapper {
    width: 100%;
    height: 100%;
}
.wrapper-container {
    width: 92%;
    height: auto;
    margin: 0 auto;
}

