{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}<link rel="stylesheet" href="{% static 'css/post/post_create.css' %}">{% endblock %}
{% block title %}Post Your Memory{% endblock %}

{% block content %}
<section class="post-section">
    <div class="post-create">
        <h2 class="sub-title">Post Your Memory</h2>
        <form class="post-form" action="{% url 'post:post_create' %}" method="Post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="title">Title</label>
            {{ form.title|add_class:"form-control" }}
            <label for="category">Category</label>
            {{ form.category|add_class:"form-control" }}
            <label for="thumbnail">Thumbnail</label>
            {{ form.image | add_class:"form-control-file" }}
            <label for="images">Images</label>
            <label for="text">Text</label>
            {{ form.text|add_class:"form-control" }}
            <a href="{% url 'post:post' %}" class="btn btn-outline-primary">戻る</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</section>
{% endblock %}