{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/confirm_delete.css' %}">{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Are you sure you want to delete {{ post.title }}?</h5>
        <div class="delete-choice">
            <a class="btn btn-outline-primary" href="{% url 'schedule:schedule' %}">Back</a>
            <form class="delete-form" action="" method="POST">
                {% csrf_token %}
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}