{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}<link rel="stylesheet" href="{% static 'css/post/post_create.css' %}">{% endblock %}
{% block title %}Edit Your Memory{% endblock %}

{% block content %}
<section class="post-section">
    <div class="post-create">
        <h2 class="sub-title post-update-title">Edit Your Memory</h2>
        <form class="post-form" method="Post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="title">Title</label>
            {{ form.title|add_class:"form-control" }}
            <label for="category">Category</label>
            {{ form.category|add_class:"form-control" }}
            <label for="thumbnail">Thumbnail</label>
            <div class="thumbnail-form-box">
                <div class="thumbnail-img">
                    <img src="{{ post.image.url }}" width="150" height="95">
                </div>
                <div class="thumbnail-form">
                    {{ form.image | add_class:"form-control-file" }}
                </div>
            </div>
            <label for="text">Text</label>
            {{ form.text|add_class:"form-control" }}
            <button type="submit" class="update-save btn btn-primary">Save</button>
        </form>
    </div>
</section>
{% endblock %}