{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}<link rel="stylesheet" href="{% static 'css/post/post_create.css' %}">{% endblock %}
{% block title %}Post Your Memory{% endblock %}

{% block content %}
<section class="post-section">
    <div class="post-create">
        <h2 class="sub-title">Post Your Memory</h2>
        <form class="post-form" action="" method="Post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="title">Title</label>
            {{ form.title|add_class:"form-control" }}
            <label for="category">Category</label>
            {{ form.category|add_class:"form-control" }}
            <label for="image">Image or File</label>
            {{ formset | add_class:"form-control-file" }}
            <label for="text">Text</label>
            {{ form.text|add_class:"form-control" }}
            <a class="btn btn-outline-primary" href="{% url 'post:index' %}">Back</a>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</section>
{% endblock %}